.sidebar-container {
  display: grid;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-column: span 1 / span 1;
  place-items: center;
  height: 100%;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  width: 60px;
  font-family: "Raleway";

  @media (min-width: 768px) {
    width: 80px;
  }
}

.sidebar-cursor {
  cursor: pointer;
}

.sidebar-hover {
  :hover {
    fill: #bf13bf;
    cursor: pointer;
  }
}

.sidebar-exit-icon-hover {
  :hover {
    fill: #bf13bf;
    cursor: pointer;
  }
}

.sidebar-exit-icon {
  fill: #dbd3eb;
}
