.transaction-font {
  padding-right: 2.5rem;
  font-family: "Raleway";
}

.image {
  margin-right: 0.5rem;
  border-radius: 9999px;
  width: 2.5rem;
  height: 2.5rem;
}

.transaction-top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transaction-top-text {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}

.transaction-container {
  display: none;
  margin-left: -5rem;
  align-items: center;

  @media (min-width: 768px) {
    display: flex;
  }
}

.transaction-top-right {
  display: flex;
  align-items: center;
}

.transaction-top-right-text {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #bf13bf;
}

.transaction-grid {
  display: grid;
  place-items: center;
}

.transaction-grid > hr {
  width: 91.666667%;
  color: #dadada;
}

.transaction-items-container {
  margin-top: 2.5rem;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  white-space: nowrap;

  @media (min-width: 768px) {
    display: grid;
    padding: 1rem;
    margin-top: 0;
    text-align: center;
  }
}

.transaction-items {
  display: flex;
  align-items: center;

  @media (min-width: 768px) {
    margin-left: 2.5rem;
  }
}

.transaction-semibold {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
}

.transaction-medium {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}

.transaction-bold {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
}

.transaction-grid-top {
  display: none;
  padding: 0.75rem;
  margin-top: 2.5rem;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 1.25rem;
  border-radius: 1rem;
  width: 100%;
  text-align: center;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

  @media (min-width: 768px) {
    display: grid;
  }
}

.transaction-hidden {
  @media (min-width: 768px) {
    display: none;
  }
}
